#imagem_anna {
    border-radius: 15px;
}
.imagem_logo {
    border: 2px solid black;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}